@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer;
}

/* Custom horizontal scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  height: 3px; /* smaller height */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(151, 0, 41, 0.8); /* scrollbar thumb color */
  /* border-radius: 10px; */
}

/* Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(151, 0, 41, 0.8) transparent;
}

.swiper-button-next,
.swiper-button-prev {
  @apply bg-[#ffffff] text-[#101010] p-2 md:p-3 rounded-full transition;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 1.2rem !important; /* override default arrow size */
  font-weight: bold !important;
  color: #101010 !important; /* arrow color */
}
